<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.saber.avalon.modules.system.dao.UserDao" >
    <resultMap id="BaseResultMap" type="org.saber.avalon.modules.system.pojo.UserDO" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="nick_name" property="nickName" jdbcType="VARCHAR"/>
        <result column="salt" property="salt" jdbcType="VARCHAR" />
        <result column="telephone" property="telephone" jdbcType="VARCHAR" />
        <result column="depart" property="depart" jdbcType="VARCHAR" />
        <result column="default_url" property="defaultUrl" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    </resultMap>
    
    <sql id="Base_Column_List" >
        id, name, password, nick_name, salt, telephone, depart, default_url, create_time, modify_time
    </sql>

    <select id="getAll" resultMap="BaseResultMap"  >
       SELECT 
       <include refid="Base_Column_List" />
       FROM sur_staff
    </select>

    <select id="getOne" parameterType="java.lang.String" resultMap="BaseResultMap" >
        SELECT 
       <include refid="Base_Column_List" />
       FROM sur_staff
       WHERE id = #{id}
    </select>

    <insert id="insert" parameterType="org.saber.avalon.modules.system.pojo.UserDO" >
       INSERT INTO 
            sur_staff
            (id, name, password, nick_name, salt, telephone, depart, default_url, create_time, modify_time)
        VALUES
            (#{id}, #{name}, #{password}, #{nickName}, #{salt}, #{telephone}, #{depart}, #{defaultUrl}, #{createTime}, #{modifyTime})
    </insert>
    
    <update id="update" parameterType="org.saber.avalon.modules.system.pojo.UserDO" >
       UPDATE 
            sur_staff 
       SET 
        <if test="name != null">name = #{name},</if>
        <if test="password != null">password = #{password},</if>
        nick_name = #{nickName}
       WHERE 
            id = #{id}
    </update>
    
    <delete id="delete" parameterType="java.lang.String" >
       UPDATE 
             sur_staff
       SET
             is_delete=1 
       WHERE 
             id =#{id}
    </delete>

</mapper>